@font-face {
    font-family: LeagueOfLegends-font;
    src: url("./assets/fonts/League.otf");
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #010A13;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo-s {
    width: 100px;
    border-radius: 100%;
    margin: 20px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    list-style: none;
    padding: 0;
    width: 60%;
}

.link {
    color: white;
    position: relative;
    text-decoration: none;
    padding: 0 0 2px 0;
    font-size: 20px;
}

.link:hover {
    color: #F0E6D2;
    cursor: pointer;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #F0E6D2;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    .links {
        display: none;
    }

    .hamburger {
        display: block;
        color: white;
        font-size: 30px;
        margin: 20px;
    }
}